h1, h3{
	color: white; 
}


html {
	height: 100%; 
}

h1 {
	font-weight: 700; 
	font-size: 5em; 
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0 4px 3px rgba(0,0,0,0.4),
				 0 8px 13px rgba(0,0,0,0.1),
				 0 18px 23px rgba(0,0,0,0.05);
}

body {
	font-family: lato;

	background: url(https://images.unsplash.com/photo-1570037851347-a5e607feb6be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80);
	background-size: cover; 
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2); 
}